@font-face {
	font-family: 'Spoof Trial';
	font-style: normal;
	font-weight: 400;
	src: local('Spoof Trial'), url('./fonts/SpoofTrial-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Spoof Trial';
	font-style: italic;
	font-weight: 400;
	src: local('Spoof Trial'), url('./fonts/SpoofTrial-RegularSlanted.woff') format('woff');
}

@font-face {
	font-family: 'Spoof Trial';
	font-style: normal;
	font-weight: 100;
	src: local('Spoof Trial'), url('./fonts/SpoofTrial-Thin.woff') format('woff');
}

@font-face {
	font-family: 'Spoof Trial';
	font-style: italic;
	font-weight: 100;
	src: local('Spoof Trial'), url('./fonts/SpoofTrial-ThinSlanted.woff') format('woff');
}

@font-face {
	font-family: 'Spoof Trial';
	font-style: normal;
	font-weight: 300;
	src: local('Spoof Trial'), url('./fonts/SpoofTrial-Light.woff') format('woff');
}

@font-face {
	font-family: 'Spoof Trial';
	font-style: italic;
	font-weight: 300;
	src: local('Spoof Trial'), url('./fonts/SpoofTrial-LightSlanted.woff') format('woff');
}

@font-face {
	font-family: 'Spoof Trial';
	font-style: normal;
	font-weight: 500;
	src: local('Spoof Trial'), url('./fonts/SpoofTrial-Medium.woff') format('woff');
}

@font-face {
	font-family: 'Spoof Trial';
	font-style: italic;
	font-weight: 500;
	src: local('Spoof Trial'), url('./fonts/SpoofTrial-MediumSlanted.woff') format('woff');
}

@font-face {
	font-family: 'Spoof Trial';
	font-style: normal;
	font-weight: 700;
	src: local('Spoof Trial'), url('./fonts/SpoofTrial-Bold.woff') format('woff');
}

@font-face {
	font-family: 'Spoof Trial';
	font-style: italic;
	font-weight: 700;
	src: local('Spoof Trial'), url('./fonts/SpoofTrial-BoldSlanted.woff') format('woff');
}

@font-face {
	font-family: 'Spoof Trial';
	font-style: normal;
	font-weight: 800;
	src: local('Spoof Trial'), url('./fonts/SpoofTrial-Black.woff') format('woff');
}

@font-face {
	font-family: 'Spoof Trial';
	font-style: italic;
	font-weight: 800;
	src: local('Spoof Trial'), url('./fonts/SpoofTrial-BlackSlanted.woff') format('woff');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html,
	body {
		font-family: 'Spoof Trial', sans-serif;
	}
}
